# AWS
AWS_ACCESS_KEY_ID=CHANGEME
AWS_SECRET_ACCESS_KEY=CHANGEME

# Data lake
ENV_STATE=CHANGEME
BUCKET_RAW_DATA=CHANGEME

DB_HOST=CHANGEME
DB_USERNAME=CHANGEME
DB_PASSWORD=CHANGEME
DB_NAME=CHANGEME
DB_PORT=CHANGEME

LINE_TOKEN=CHANGEME
