# AWS
AWS_ACCESS_KEY_ID=CHANGEME
AWS_SECRET_ACCESS_KEY=CHANGEME

# Data lake
ENV_STATE=CHANGEME
BUCKET_RAW_DATA=CHANGEME

# Data warehouse
host=CHANGEME
user=CHANGEME
password=CHANGEME
database=CHANGEME
